.relatedbooks {
    display: flex;
    flex-direction: column;
    width: 325px;
    height: 700px;
    /* margin-left: 1075px; */
}

.relatedbooks h2{
    text-align: center;
}

.relatedbooks img{
    width: 100px;
    margin: left;
}