.bookshelf {
    width: 425px;
    height: 700px
}

.bookshelf h2{
    text-align: center;
}
 

.bookshelf .list-books img {
        width: 75px;
        margin: left;
    }
    
.bookshelf .books{
        display: flex;
        flex-direction: row;
    }