.bookshelf {
    border-style:dashed;
    border-width: 5px;
    width: 425px;
    height: 700px
}

.bookshelf h2{
    text-align: center;
}
 

.bookshelf .list-comments img {
        width: 100px;
        margin: left;
    }
    
.bookshelf .list-comments{
        display: flex;
        flex-direction: row;
    }