#search-bar {
    margin: auto;
    padding: 10px;
    min-width: 300px;
    max-width: 550px;
    min-height: 50px;
}

#search-bar input[type='text'] {
    margin: 10px;
    border-color: #999999;
    outline: none;
    border-radius: 3px;
    width: 100%;
    font-size: 1em;
    padding: 3px 10px;
}