.active-book {
    margin: center auto;
    line-height: 1.5em;
    padding: 10px;
 }
 
 .active-book h2 {
    margin-top: 10px;
    color: #000000;
    line-height: 1.3em;
 }
 
 .active-video h3 {
    margin-top: 5px;
    
 }

 .active-book img{
    width: 250px;
    margin: center auto;
 }