.app {
  background-color: white;
  text-align: center;
  margin: 0px;
}

.Context {
  height: 100%;
  text-align: center;
  display: flex;
}

.virtual-library{
  display: flex;
  flex-direction: row;
}

#search-bar {
  display: block;
}