.app {
  background-color: white;
  text-align: center;
  margin: 0px;
}

.Context {
  height: 100%;
  text-align: center;
  display: flex;
}

.virtual-library{
  display: flex;
  flex-direction: row;
}
/* .app .context .virtual-library {
   display: flex;
   margin-top: 25px;
   width: 100%;
   flex-direction: row;
   justify-content: space-between;
} */

/* .App .Context .search-bar .virtual-library {
  display: flex;
  flex-direction: row;
} */